* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
    background: rgb(0,212,255);
background: linear-gradient(90deg, rgba(0,212,255,.5) 25%, rgba(0,0,0,1) 75%);
  }

  p{
    margin: 20px 10px;
    color:red
    
  }

  h1 {
    margin: 10px ; 
    text-align: center;
    color:white;
  }

.picture-ctn{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 4rem;
    flex-direction:row;
    flex-wrap: wrap;
    font-size: 1.2rem;
    gap:1rem;
    
}

.pictures{
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.8);
  border-radius: 10px;
}
.images{
    width: 250px;
    height: 200px;
    object-fit: cover;
}

.images:hover{
    transform:scale(1.25) ;
    filter:grayscale(100%);
}
.img-ctn{
  overflow: hidden; 
  border-radius: 10px;
}

